section#work
    .container
        h1 Some of our previous work...

        #filters
            a.btn.btn-sm.btn-default.active: i.fa.fa-th-large
            a.btn.btn-sm.btn-default Web
            a.btn.btn-sm.btn-default Brand
            a.btn.btn-sm.btn-default Marketing

        .row
            .col-sm-4
                a(href="#/work/1").box
                    img.img-responsive(src="img/portfolio/jam/tile.jpg")
                    h2 Jamjars
                    p Web - Brand - Marketing
            .col-sm-4
                a(href="#/work/1").box
                    img.img-responsive(src="img/portfolio/kkk/tile.gif")
                    h2 KKKupkakes
                    p Web - Brand
            .col-sm-4
                a(href="#/work/1").box
                    img.img-responsive(src="img/portfolio/mls/tile.png")
                    h2 MLS Design
                    p Web - Brand