section#work-detail
    .container
        .row
            h1 Title of the project
            p.lead.text-muted Tagline text
            img.img-responsive(src="http://lorempixel.com/960/500/")

            h2 Ooo initial design stuff
            img.img-responsive(src="http://lorempixel.com/960/500/")
            p Loads of designs and shit, it was really fun, we loved it, etc.
            p Super great time, have a look!

            h2 Yeah it's getting there!
            img.img-responsive(src="http://lorempixel.com/960/500/")
            p Loads of prototypes and shit, it was really fun, we loved it, etc.
            p Super great time, have a look!
