* {
  font-family: Overlock !important;
  font-weight: bold !important;
}
section,
footer,
header {
  padding-top: 40px;
  padding-bottom: 50px;
}
header {
  background: #001f3f;
  color: #fff;
}
main > section:nth-child(odd) {
  background: #eaeaea;
}
blockquote {
  border: none;
}
blockquote::before {
  content: '\201C';
}
blockquote::after {
  content: '\201D';
}
blockquote::before,
blockquote::after {
  font-size: 25px;
  padding: 3px;
  position: relative;
  top: 3px;
}
