<!DOCTYPE html>
<html>
  <head>
    <title>Zoe Genders</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  </head>
  <body>
    <header>
      zoe genders
    </header>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/#intro">About us</a></li>
        <li><a href="/#work">Our work</a></li>
        <li><a href="/#contact">Get in touch</a></li>
      </ul>
    </nav>
    <main>
      {{ content }}
    </main>
    <footer>
      footer
    </footer>
  </body>
</html>
