doctype html
html
    head
        title BONDIG
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
        link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Overlock:700")
        link(rel="stylesheet", href="styles.css")
    body.text-center
        header
            .container
                h1 MMmMmMm
        //- nav.navbar.navbar-default(role="navigation")
        //-     .container
        //-         .navbar-header
        //-             a.navbar-brand(href="#") MMmMmMm
        //-         .dunno
        //-             ul.nav.navbar-nav.navbar-right
        //-                 li: a(href="#services") What
        //-                 li: a(href="#method") How
        //-                 li: a(href="#team") Who
        main
            section#intro
                .container
                    .row
                        .col-sm-12
                            h1 Who wank?
                            p We're just a bunch'o'cats that'll make stuff for you in exchange for 500 paand.
                            a.btn.btn-success Got an idea? Get in touch!
            section#services
                .container
                    h1 What we can do with you...
                    .row
                        .col-sm-4
                            img.img-circle(src="http://lorempixel.com/150/150/nightlife")
                            h2 Design
                            ul.list-group
                                li.list-group-item full shebang 500 paand
                                li.list-group-item logo 500 paand
                                li.list-group-item binis cards? 500 paand
                                li.list-group-item use own assets? 500 paand
                                li.list-group-item WordPress theming?
                        .col-sm-4
                            img.img-circle(src="http://lorempixel.com/150/150/transport")
                            h2 Development
                            ul.list-group
                                li.list-group-item static pages 500 paand each
                                li.list-group-item dynamic shit + 500 paands
                                li.list-group-item CMS integration 500 paand
                                li.list-group-item optimised for search engines
                                li.list-group-item desktop, tablet, and mobile
                        .col-sm-4
                            img.img-circle(src="http://lorempixel.com/150/150/abstract")
                            h2 Other stuff
                            ul.list-group
                                li.list-group-item apps
                                li.list-group-item games
                                li.list-group-item custom typography
                                li.list-group-item print?
                                li.list-group-item this entire section is getting messy, needs re-thinking
            section#method
                .container
                    h1 What you can expect...
                    .row
                        .col-sm-4
                            img.img-circle(src="http://lorempixel.com/150/150/cats")
                            h2 Agile
                            p We keep you involved throught the process, and you keep us on our toes
                        .col-sm-4
                            img.img-circle(src="http://lorempixel.com/150/150/food")
                            h2 Modern
                            p Using cutting edge technologies and workflows we produce quality, quickly
                        .col-sm-4
                            img.img-circle(src="http://lorempixel.com/150/150/city")
                            h2 Optimised
                            p All content is optimised to be lightning fast to give the user a great experience 
                        .col-sm-4
                            img.img-circle(src="http://lorempixel.com/150/150/nightlife")
                            h2 Cloud
                            p We favour cloud based hosting but are happy to integrate into your existing setup
                        .col-sm-4
                            img.img-circle(src="http://lorempixel.com/150/150/transport")
                            h2 Analytics
                            p Easy to understand analytics give helpful insights into your users
                        .col-sm-4
                            img.img-circle(src="http://lorempixel.com/150/150/abstract")
                            h2 Users
                            p Before starting we get involved with users, find out what they want, what the need
            section#team
                .container
                    h1 Meet the twats
                    .row
                        .col-sm-6
                            h2 Marion Sebbage
                            p.lead.text-muted makes the pretty things
                            img.img-circle(src="http://lorempixel.com/300/300/people")
                            blockquote I studied media with business or something then some arty stuff. I've got experience in the SEO and content creation industry too ya jebs.
                        .col-sm-6
                            h2 Mim Hufford
                            p.lead.text-muted makes stuff work
                            img.img-circle(src="http://lorempixel.com/300/300/animals")
                            blockquote I'm a software engineer and an all round dildo. When I can be arsed I lecture in computer science and software engineering.
        footer
            .container
                p contact us ya buggers
                a(href="mailto:info@bondig.co.uk", target="_blank") info@bondig.co.uk