silver = #eaeaea
navy   = #001F3F

section, footer, header
	padding-top 40px
	padding-bottom 50px

header 
	background navy
	color white

main > section:nth-child(odd)
	background silver

blockquote
	border none

	&::before
		content '\201C'   // nice curly left quote
	&::after
		content '\201D'   // nice curly right quote