silver = #eaeaea
navy   = #001F3F

*
	font-family Overlock !important
	font-weight bold !important

h1
	margin 30px 0

section, footer
	padding-top 10px
	padding-bottom 60px

footer
	padding-top 40px

header 
	background navy
	color white

#intro a
	margin-top 20px
	margin-bottom 20px

main > section:nth-child(odd)
	background silver

blockquote
	border none

	&::before
		content '\201C'   // nice curly left quote
	&::after
		content '\201D'   // nice curly right quote

	&::before, &::after
		font-size 25px
		padding 3px
		position relative
		top 3px